<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564330720671-neaf99oap020ct5pumv4lvorspt1fvca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564330720671-neaf99oap020ct5pumv4lvorspt1fvca</string>
	<key>API_KEY</key>
	<string>AIzaSyCBZrtdp1kppYumMQmOp_OkdYSrbjd3x4o</string>
	<key>GCM_SENDER_ID</key>
	<string>564330720671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinemax</string>
	<key>PROJECT_ID</key>
	<string>cinema-x-fcbbd</string>
	<key>STORAGE_BUCKET</key>
	<string>cinema-x-fcbbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564330720671:ios:9d82ceb292781ef48ea1aa</string>
</dict>
</plist>